<html>
	<head><title>my transaction</title></head>
	<script type="text/javascript" src="//misc.360buyimg.com/jdf/lib/jquery-1.6.4.js"></script>
	<body>
		 <table border='1px' cellspacing='0'>
			 <th>类型</th>
			 <th>提交人</th>
			 <th>标题</th>
			 <th>内容</th>
			 <th>操作</th>
         {% for transaction in transaction_list %}
		 <tr>
			 <td class='transaction_id' name='transaction_id' value={{transaction.get('id') }}>
		   {% if transaction.get('ttype') == 0 %}
				 　 请假
				 {% elif transaction.get('ttype') == 1 %}
					加薪
				{% else %}
					报销
				{% end %}
		</td>
		<td> {{ transaction.get('user') }}</td>
		<td>{{ transaction.get('title') }}</td>
		<td>{{ transaction.get('content') }}</td>
		<th><input type='button' class='review' value='审核通过' name='pass'/><input type='button' class='review' value='审核不通过' name='nopass'/></th>
			</tr>
		 {% end %}
	 </table>
	 <script>
	$('.review').click(function(){
	var check_user = $(this).attr("name");
	var obj = $(this).parent().siblings('.transaction_id');
	var obj_id = obj.value;
	alert(obj_id);

	$.ajax({
	type: 'POST',
	url: '/auth/review/' ,
	data: {'transaction_id': obj_id},
	dataType: 'json',
	success:function(result){
	if(result.status=='ok') {
	window.location.href='/auth/review_list/';
	}else{
	alert('error');
	}
	}

	});
																			});
	 </script>
	</body>
</html>
